.center {
    text-align: center;
}

body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 150px;
}   

.dotted {
    border: 2px dotted blue;
}
.card {
    background: #ffb3c1;
    width: 400px;
    border-bottom: 10px solid #ff4d6d;
    margin: 0 auto;
    padding: 20px;
    display: flex; 
    justify-content: space-around;
}

.content {
    color: #2b2839;
    padding-top: 25px;
}


